/* .small-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  
    letter-spacing: 0.02em;
    color: var(--small-text-color);
  
    margin-bottom: 8px;
  } */